<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
  <h1 class="color-red" th:text="${title}"></h1>
  <hr>
  <h2 class="color-blue">Static resources CSS</h2>
  <img th:src="@{/img/rengoku.jpeg}" alt="image">
  <table th:if="${!users.isEmpty()}">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user:${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
